 * {
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    height: 10vh;
}
header h1{
    position: absolute;
    left: 5vw;
    top: 0vh;
    line-height: 10vh;
    font-size: 30px;
}
header .list{
    position: absolute;
    right: 5vw;
    top: 0vh;
    line-height: 10vh;
    font-size: 30px;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0px;
}
header a:hover{
    color: #87ceeb;
}
header li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 180px;
}
/* 选项 */
header .menu .content{
    position: absolute;
    top: 10vh;
    min-width: 180px;
    display: none;
    background-color: rgb(52, 74, 83, 0.7);
    box-shadow: 0 0 4px black;
    text-align: left;
}
header .menu:hover .content{
    display: flex;
}
/* 选项中的列 */
header .menu .content div{
    display: block;
    line-height: 30px;
    margin:10px 10px;
}
/* 下划线动画 */
header .menu .title {
    background: linear-gradient(to right, skyblue 100%, transparent 0%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.5s;
}
header .menu:hover .title {
    background-size: 100% 2px;
}
footer{
    background-color: black;
    color: #B7B7B7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 20px;
}
/* 之前做的响应式设计 */
@media (max-width: 768px){
    header h1{
        left: 50%;
        transform: translateX(-50%);
    }
    header li{
        display: block;
        margin: 10px 0;
    }
    header .list{
        top:15vh;
        line-height: normal;
    }
    header{
        height: 10vh;
        position: absolute;
        background-color: black;
    }
    footer{
        height: 30vh;
    }
}